[Desktop Entry]
Name=ShopRemote
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=shopremote %u
Icon=shopremote
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=shopremote

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=shopremote %u
