[Unit]
Description=ShopRemote
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/shopremote --service
# kill --tray and --server both
ExecStop=pkill -f "shopremote --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "shopremote --tray"
#ExecStop=pkill -f "shopremote --server"
PIDFile=/run/shopremote.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000
Environment="PULSE_LATENCY_MSEC=60" "PIPEWIRE_LATENCY=1024/48000"

[Install]
WantedBy=multi-user.target
